{% extends "_layouts/_generic_page_layout.twig" %}

{% block headLinks %}
	{{ parent() }}
	<link rel="amphtml" href="/amp">
{% endblock headLinks %}

{% block content %}
	<section>
		{% include "_partials/_content_text.twig" with {text: "content <br>
      Lorem ipsum dolor sit amet consectetur, adipiscing elit.
      Deleniti vitae eos et, aliquid similique a nemo quod sapiente at culpa,
      ipsam quaerat commodi temporibus ipsum delectus amet aliquam quas nulla."}
    %}
	</section>
{% endblock %}

{% block subcontent %}
	<section>
		{% include "_partials/_content_text.twig" with {text: "subcontent"}%}
	</section>
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
	{{ parent() }}
{% endblock bodyJs %}
